ENVIRONMENT="" # "development" or "production" environment

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

# OAuth: Google
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# MySQL connection string for Prisma. Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=""
